services:
  postgres:
    image: postgres:12
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${S3_ACCESS_KEY_ID}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_ACCESS_KEY}
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  api:
    build:
      context: .
    restart: always
    depends_on:
      - postgres
      - redis
      - minio
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
    ports:
      - "${API_PORT:-8765}:${API_PORT:-8765}"
    volumes:
      - uploads:/opt/app/uploads

  worker:
    build:
      context: .
    restart: always
    depends_on:
      - postgres
      - redis
      - minio
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
    volumes:
      - uploads:/opt/app/uploads
    command: >
      poetry run celery
      -A core.celery_app.celery_app
      worker
      -Q flights
      -l info

  nginx:
    image: nginx:latest
    volumes:
      - ./app.conf:/etc/nginx/templates/default.conf.template:ro
    ports:
      - "80:80"
    depends_on:
      - api
    environment:
      - API_PORT=${API_PORT:-8765}
    command: >
      /bin/sh -c
      "envsubst < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf
       && nginx -g 'daemon off;'"

volumes:
  pg-data:
  uploads:
  minio-data:

networks:
  default:
