services:
  postgres:
    image: postgres:12
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  api:
    build:
      context: .
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "${API_PORT:-8765}:${API_PORT:-8765}"

  nginx:
    image: nginx:latest
    volumes:
      - ./app.conf:/etc/nginx/templates/default.conf.template:ro
    ports:
      - "80:80"
    depends_on:
      - api
    environment:
      - API_PORT=${API_PORT:-8765}
    command: /bin/sh -c "envsubst < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

volumes:
  pg-data:

networks:
  default:
